[Unit]
Description=docker-register
After=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f docker_register
ExecStartPre=/usr/bin/docker pull ipanousis/docker-register
ExecStart=/usr/bin/docker run --name docker_register -e HOST_IP={{ private_ipv4_address }} -e ETCD_HOST={{ private_ipv4_address }}:4001 -v /var/run/docker.sock:/var/run/docker.sock ipanousis/docker-register
ExecStop=/usr/bin/docker stop docker_register

[Install]
WantedBy=multi-user.target
