[Unit]
Description=etcd-register
After=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f etcd_register
ExecStartPre=/usr/bin/docker pull ipanousis/armada-etcd-register
ExecStart=/usr/bin/docker run --privileged --name etcd_register -e HOST_IP={{ private_ipv4_address }} -e ETCD_HOST={{ private_ipv4_address }}:4001 -v /var/run/docker.sock:/var/run/docker.sock ipanousis/armada-etcd-register
ExecStop=/usr/bin/docker stop etcd_register

[Install]
WantedBy=multi-user.target
